.results-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.25fr 1fr;
	.title {
		grid-column-end: 3;
		grid-column-start: 1;
	}

	.overview-marks {
		justify-content: center;
		.criteria-item {
			font-size: 6vmin;
			align-self: center;
		}
	}

	.final-mark {
		align-self: center;
		text-align: center;
		font-size: 9vmin;
	}
}

.controls-container {
	display: grid;
	.submit-btn {
		justify-self: center;
		align-self: center;
		width: 35vmin;
		height: 10vmin;
	}
}
